// Stronger text/headers
@font-face {
  src: url(../assets/fonts/Ginto_Bold.woff2) format('woff2');
  font-weight: 400;
  font-family: 'Ginto_Bold';
  font-display: swap;
}
@font-face {
  src: url(../assets/fonts/Ginto_Medium.woff2) format('woff2');
  font-weight: 400;
  font-family: 'Ginto_Medium';
  font-display: swap;
}

// Everything else
@font-face {
  src: url(../assets/fonts/Whitney_Bold_Italic.woff2) format('woff2');
  font-weight: 400;
  font-family: 'Whitney_Bold_Italic';
  font-display: swap;
}
@font-face {
  src: url(../assets/fonts/Whitney_Bold.woff2) format('woff2');
  font-weight: 400;
  font-family: 'Whitney_Bold';
  font-display: swap;
}
@font-face {
  src: url(../assets/fonts/Whitney_Book_Italic.woff2) format('woff2');
  font-weight: 400;
  font-family: 'Whitney_Book_Italic';
  font-display: swap;
}
@font-face {
  src: url(../assets/fonts/Whitney_Book.woff2) format('woff2');
  font-weight: 400;
  font-family: 'Whitney_Book';
  font-display: swap;
}
@font-face {
  src: url(../assets/fonts/Whitney_Medium.woff2) format('woff2');
  font-weight: 400;
  font-family: 'Whitney_Medium';
  font-display: swap;
}
@font-face {
  src: url(../assets/fonts/Whitney_Semibold_Italic.woff2) format('woff2');
  font-weight: 400;
  font-family: 'Whitney_Semibold_Italic';
  font-display: swap;
}
@font-face {
  src: url(../assets/fonts/Whitney_Semibold.woff2) format('woff2');
  font-weight: 400;
  font-family: 'Whitney_Semibold';
  font-display: swap;
}
